<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ввод информации о месте хранения</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Создать стикер хранения</h1>
    <form action="" method="POST">
        <div class="form-group">
            <label for="inputStellage">Номер стеллажа:</label>
            <input type="text" class="form-control" id="inputStellage" placeholder="Введите номер стеллажа" name="stellash">
        </div>
        <div class="form-group">
            <label for="inputRow">Номер полки:</label>
            <input type="text" class="form-control" id="inputRow" placeholder="Введите номер полки" name="polka">
        </div>
        <div class="form-group">
            <label for="inputSection">Номер секции:</label>
            <input type="text" class="form-control" id="inputSection" placeholder="Введите номер секции" name="section">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
